*/.DS_Store
.DS_Store
lazy-lock.json
lua/plugins/extra/pde/note/init.lua
lua/plugins/extra/pde/note/init.lua
lua/plugins/extra/pde/note/init.lua
lua/plugins/extra/pde/note/init.lua
lua
lua
lua
lua
lua
lua
lua
lua
lua
lua
lua
